<html xmlns:th="http://www.thymeleaf.org">
<!--add spring security to the line above-->

<head th:fragment="header (pageTitle)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title th:text="${pageTitle}">Template Title</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text" rel="stylesheet" />


    <!--    dashBoard   -->

    <link rel="stylesheet" type="text/css" th:href="@{/css/dashFlash.css}" href="/static/css/dashFlash.css" />




</head>

<body>

</body>
</html>