<html xmlns:th="http://www.thymeleaf.org">
<!--add spring security to the line above-->

    <head th:fragment="header (pageTitle)">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="${pageTitle}">Template Title</title>

        <!--        Fonts       -->
        <link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text" rel="stylesheet" />


        <!--    bootstrap   -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />




        <!--    home Page     -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/makeUP.css}" href="/static/css/makeUp.css" />




    </head>
    <body>

    <!--        Main navBar Sticky bottom       -->


    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark primary-color">
        <a class="navbar-brand" href="#"></a>
        <div class="container">

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse justify-content-center font-weight-bold" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>

                </ul>
                <!-- Links -->

                <!-- Navbar brand -->
                <a class="navbar-brand px-lg-4 mr-0" href="#">
                    <h1>The Lost Scrolls of Earth</h1>
                </a>

                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Post</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Future Content</a>
                    </li>
                </ul>
                <!-- Links -->

            </div>
        </div>

    </nav>

    <!---->


    <!--bootstrap javascript-->
    <div th:fragment="bootstrap" th:remove="tag">
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/js/mdb.min.js"></script>

        <script type="text/javascript" th:src="@{/javaScript/main.js}" src="static/javaScript/main.js"></script>
    </div>






    </body>
</html>