body {
    background-color: #eabff6;
}

.homeHeader {
    text-align: center;
    font-family: 'Libre Barcode 128 Text', cursive;
    color: #f8f9fa;

}

/*===========================================================*/