body {
    background-color: #eabff6;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1, h4{
    font-family: 'Libre Barcode 128 Text', cursive;
    /*background-color: black;*/
    color: #080808;

}

/*====================================r=======================*/

html.sr .load-hidden {
    visibility: hidden;
}