body {
    background-color: rosybrown;
}

.homeHeader {
    text-align: center;
    font-family: 'Libre Barcode 128 Text', cursive;

}

/*===========================================================*/