<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/fragments :: header(${'About Us'})">


    </head>
    <body>

        <div id="aboutUs" class="fluid-container mx-4">
            <h1 class="display-4"> Meet this man behind the page</h1>

        </div>
        <div class="row">

            <div class="card-body"> Johnathon M. Cook</div>
                <p>
                    There is more to coding than just the words,
                    you must understand how the data flows
                </p>
            <a class="inline" href="https://www.linkedin.com/in/cooksjohns/"></a>
            <a class="inline" href="https://github.com/Cooks-Johns"></a>
            <a class="inline" href="mailto:cooks.johns@gmail.com"></a>


        </div>







    </body>
</html>